<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
	<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ asset('public/css/sv.css') }}" />

</head>
<body>

<div class="header">
  <img src="{{ asset('public/img/moi.png') }}">
  <h2> Villagordo Stephane </h2>
	<h3>Etudiant M1 en E-Business à EDC Paris & EfreiTech</h3>
  <span> 
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
  

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar" id="navbar">
      <ul class="nav">
        <li class="{% block home %} {% endblock %}"><a href="{{ path('kssv_home')}}"> Home<span class="sr-only">(current)</span></a></li>
        <li class="{% block projet %} {% endblock %}"><a href="{{ path('kssv_projet')}}">Projet</a></li>
        <li class="{% block github %} {% endblock %}"><a href="https://github.com/Steeph/KSC" target="blank">Github</a></li>
        <li class="{% block linkedin %} {% endblock %}"><a href="https://www.linkedin.com/in/stephanevillagordo" target="blank">LinkedIn</a></li>
        <li class="{% block contact %} {% endblock %}"><a href="{{ path('kssv_contact')}}">Contacter moi</a></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>





	{% block body %}

	{% endblock %}

</body>
</html>